body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 80%;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.form input {
  padding: 8px;
  width: 200px;
}

.form button {
  background: #6c5ce7;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn {
  background: #d63031;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background: #6c5ce7;
  color: white;
}

.edit-btn {
  background: #0984e3;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
}

.delete-btn {
  background: #d63031;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
